<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true">

  <variable name="standardLayout" value="${time} ${pad: padding=-50 :inner=${callsite}} ${level} ${message}" />
  
  <targets>
    <target
      xsi:type="File"
      name="SessionLogFile"
      fileName="NHol.Session.log"
      layout="${standardLayout}"
      autoFlush="true" />
    <target
      xsi:type="ColoredConsole"
      name="UserConsole"
      layout="${standardLayout}"
      useDefaultRowHighlightingRules="true" />
  </targets>

  <rules>
    <logger name="*" writeTo="SessionLogFile" />
    <logger name="*" minLevel="Info" writeTo="UserConsole" />
  </rules>
</nlog>
