<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target xsi:type="file"
            name="NHol.run.Nlog.txt"
            fileName="./NHol.run.Nlog.txt"
            layout="${time} ${pad: padding=-50 :inner=${callsite}} ${level} ${message}"
            autoFlush="true" />
    <target xsi:type="file"
            name="NHol.run.trace.Nlog.txt"
            fileName="./NHol.run.trace.Nlog.txt"
            layout="${time} ${pad: padding=-50 :inner=${callsite}} ${level} ${message}"
            autoFlush="true" />
    <target xsi:type="Console"
          name="console"
          layout="${time} ${pad: padding=-50 :inner=${callsite}} ${level} ${message}" />
    <target xsi:type="ColoredConsole"
            name="coloredConsole"
            layout="${time} ${pad: padding=-50 :inner=${callsite}} ${level} ${message}"
            useDefaultRowHighlightingRules="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="NHol.run.Nlog.txt" />
    <logger name="*" minlevel="Trace" writeTo="NHol.run.trace.Nlog.txt" />
    <logger name="*" minLevel="Trace" writeTo="coloredConsole" />
  </rules>
</nlog>
